body{
  background-color: #282c34;
}

nav {
  margin-bottom: 2rem; 
  background-color: #333; /* Dark background color */
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.task {
  color: #0074cc;
  transition: color 0.3s ease;
  padding-right: 2rem;
}

.task.active {
  color: #61dafb;
}

.task:hover {
  color: #FFFFFF;
}


